<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chiendeptrai.vuvanchien.nhanhnhuchop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".View.Startscreen"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".View.GuideOne"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".View.Loadgame"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".View.RoundOne"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" >

        </activity>
        <activity
            android:name=".View.Overcome"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".View.GuideTwo"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".View.RoundTwo"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" >

        </activity>
        <activity
            android:name=".View.GameWon"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".View.PlayAgain"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".View.TimeUp"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" />
        <activity
            android:name=".View.LoandGame2"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo" />
        <activity android:name=".View.AnimationBlink"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNo">

        </activity>
    </application>

</manifest>